.texto {
    color: #ffffff;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    font-family: 'Courgette', cursive;
    font-size: 40px
}

.texto:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background-color: #0091ff;
}

.textos {
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    font-family: 'Courgette', cursive;
}

.container {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.salidas {
    outline: none; text-decoration: none;
}

.cards {
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
    width: 350px;
    height: 500px;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.cards:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.cards h2:hover {
    color: #0091ff;
}

.cards-header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.imagenes {
    height: 200px;
}

.titulo {
    font-size: 40px;  
    font-weight: bold;  
    color: #000000;  
    cursor: pointer;
    font-family: 'Courgette', cursive;
}

.cards-date, .cards-autor {
    font-size: 20px;
    color: #000000;
}

.cards-content{  
    margin-top: -8px;  
    font-size: 18px;
    color: #000000;
}  
